@font-face {
	font-family: sans-serif-custom;
	src: url(./fonts/San-Francisco-Pro-Fonts/SF-Pro-Text-Ultralight.otf);
}

hr {
	color: #6f6f70;
}

body {
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	color: white;
	overflow: hidden;
}
/* .stopwatchBody {
	display: flex;
	height: 766px;
	width: 390px;
	border: 1px solid black;
	border-radius: 1rem;
	flex-direction: column;
	background-color: black;
} */
.stopwatchBody {
	display: flex;
	height: clamp(500px, 766px, 100vh);
	width: clamp(200px, 390px, 100vw);
	border: 1px solid black;
	border-radius: 1rem;
	flex-direction: column;
	background-color: black;
}
.stopwatchTime {
	flex: 45%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.stopwatchTime span {
	font-family: sans-serif-custom;
	font-weight: lighter;
	font-size: 75px;
	font-variant-numeric: tabular-nums;
}
@media only screen and (max-width: 390px) {
	.stopwatchTime span {
		/* font-size: clamp(10vw, 75px, 100px); */
		font-size: 19vw;
	}
}

.stopwatchTime h1 {
	text-align: center;
}

.stopwatchButtons {
	flex: 10%;
	display: flex;
	justify-content: center;
	justify-content: space-between;
	align-items: center;
}
.reset {
	font-family: sans-serif;
	font-size: 16px;
	font-weight: lighter;
	margin-left: 5%;
	height: 70px;
	width: 70px;
	border-radius: 50%;
	background-color: #8e8e93;
	color: white;
	border: none;
	box-shadow: 0 0 0 2px black, 0 0 0 4px #8e8e93;
}
.invisible {
	color: black;
}
.start {
	font-family: sans-serif;
	font-size: 16px;
	font-weight: lighter;
	margin-right: 5%;
	height: 70px;
	width: 70px;
	border-radius: 50%;
	background-color: #145e26;
	color: #30d158;
	border: none;
	box-shadow: 0 0 0 2px black, 0 0 0 4px #145e26;
}
.start:hover {
	background-color: #135624;
	color: #2bc051;
	box-shadow: 0 0 0 2px black, 0 0 0 4px #135624;
}
.stop {
	font-family: sans-serif;
	font-size: 16px;
	font-weight: lighter;
	margin-right: 5%;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	background-color: #ff3b30;
	color: #ffffff;
	border: none;
	box-shadow: 0 0 0 2px black, 0 0 0 4px #ff3b30;
}
.stop:hover {
	background-color: #ff3b30;
	color: #ffffff;
	box-shadow: 0 0 0 2px black, 0 0 0 4px #ff3328;
}

::-webkit-scrollbar {
	background-color: black;
	width: 0.35vw;
	border-radius: 10px;
}
::-webkit-scrollbar-corner {
	background-color: black;
}
::-webkit-scrollbar-track {
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background-color: #6f6f70;
	border-radius: 10px;
}

.stopWatchLaps {
	margin-top: 5%;
	margin-bottom: 5%;
	flex: 45%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: scroll;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.flexLapRow {
	min-height: 2.1rem;
	border-top: 1px solid #6f6f70;
	width: 95%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flexLapRow:last-of-type {
	border-bottom: 1px solid #6f6f70;
}
.flexLap {
}
.flexTime {
}

.lapsTableRowSlowest {
	color: #ff3b30;
}

.lapsTableRowFastest {
	color: #30d158;
}
