@font-face {
    font-family: sans-serif-custom;
    src: url(./FontsFree-Net-SFProText-Light-1.ttf);
}
hr{
    color:#8E8E93
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color:white

}
.stopwatchBody{
    display: flex;
    height: 766px;
    width: 390px;
    border: 1px solid black;
    border-radius: 1rem;
    flex-direction: column;
    background-color: black;
}
.stopwatchTime{
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 50px;
    flex: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stopwatchTime span{
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 50px;

}
.stopwatchTime h1{
    text-align: center;
}

.stopwatchButtons{
    flex: 10%;
    display: flex;
    justify-content:center ;
    justify-content: space-between;
    align-items: center;
}
.reset{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: lighter;
    margin-left:5%;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #8E8E93;
    color:white;
    border: none;
    box-shadow: 0 0 0 2px black,
                0 0 0 4px #8E8E93;
}
.Lap{
    display: none;
}


.start{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: lighter;
    margin-right:5%;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color:#145e26;
    color:#30D158;
    border: none;
    box-shadow: 0 0 0 2px black,
                0 0 0 4px #145e26;
}
.stop{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: lighter;
    margin-right:5%;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color:#FF3B30;
    color:#ffffff;
    border: none;
    box-shadow: 0 0 0 2px black,
                0 0 0 4px #FF3B30;
}
.stopwatchLaps{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 90%;
    flex:45%;
    overflow-x:scroll;
    /* height: 45%; */
}

.stopwatchLapslist{
    list-style: none;
}
.stopwatchLapslist li{
    text-align: end;
}
.blank{
    display: none;
}

/* #FF3B30 */