@font-face {
    font-family: sans-serif-custom;
    src: url(./FontsFree-Net-SFProText-Light-1.ttf);
}

hr {
    color: #6f6f70;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    overflow: hidden;
}
.stopwatchBody {
    display: flex;
    height: 766px;
    width: 390px;
    border: 1px solid black;
    border-radius: 1rem;
    flex-direction: column;
    background-color: black;
}
.stopwatchTime {
    flex: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stopwatchTime span {
    font-family: sans-serif-custom;
    font-weight: lighter;
    font-size: 80px;
    font-variant-numeric: tabular-nums;
}
.stopwatchTime h1 {
    text-align: center;
}

.stopwatchButtons {
    flex: 10%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}
.reset {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: lighter;
    margin-left: 5%;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #8e8e93;
    color: white;
    border: none;
    box-shadow: 0 0 0 2px black, 0 0 0 4px #8e8e93;
}
.invisible {
    color: black;
}
.start {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: lighter;
    margin-right: 5%;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #145e26;
    color: #30d158;
    border: none;
    box-shadow: 0 0 0 2px black, 0 0 0 4px #145e26;
}
.stop {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: lighter;
    margin-right: 5%;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #ff3b30;
    color: #ffffff;
    border: none;
    box-shadow: 0 0 0 2px black, 0 0 0 4px #ff3b30;
}
.stopwatchLaps {
    margin-top: 5%;
    margin-bottom: 5%;
    flex: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: scroll;
    /* height: 45%; */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.stopwatchLaps-HR {
    width: 90%;
    padding: 0;
    margin: 0;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.stopwatchLaps::-webkit-scrollbar {
    display: none;
}

.stopWatchLapsTable {
    width: 90%;
    line-height: 2;
    border-collapse: collapse;
}

.lapsTableRow {
    border-bottom: 1px solid #6f6f70;
}

.lapsTableRowSlowest {
    color: #ff3b30;
    border-bottom: 1px solid #6f6f70;
}

.lapsTableRowFastest {
    color: #30d158;
    border-bottom: 1px solid #6f6f70;
}

.tdTime {
    text-align: right;
}

.tdLap {
    text-align: left;
}
